html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header.site,
main,
aside,
footer.site {
    border-top: 10px solid #eee;
    padding: 1em;
}

img {
    height: auto;
    max-width: 100%;
}

footer {
    margin-top: 2em;
    text-align: center;
}

.container,
aside {
    margin: 0 auto;
    max-width: 1200px;
}

.site-title {
    text-align: center;
}

article + article {
    margin-top: 2.5em;
    border-top: 1px solid #eee;
    padding-top: 1.5em;
}

article h1 {
    text-align: center;
}

@media (min-width: 650px) {
    article {
        overflow: hidden;
    }

    article h1 {
        margin-top: 0;
    }

    article img {
        float: left;
        width: 33%;
        margin: 0 1em 1em 0;
    }

    article:nth-child(2) img {
        float: right;
    }
}
